/*This makes it so that borders and padding are included in the box size*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*Border around the octocat images*/
.octocat img{
  width:100%;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 10px;

}

/*Make each octocat element about a third of the page, and put a border on the bottom*/
.octocat{
  width:31%;
  margin:9px;
  padding:0px;
  border-bottom: 1px solid lightgrey;
  display: inline-block;
}

/*Sizing the author pictures, adding a rounded white border around them, positioning them to the right*/
.authors img{
  width: 30px;
  border: 1px solid white;
  padding: 0px;
  margin: 1px;
  border-radius: 4px;
  position: relative;
  top: 10px;
}

/*Shifts entire row of octocats to the left (default padding was 40px)*/
.octodex{
  padding: 0;
}

/*adds hashtag to image numbers*/
.image-number:before {
   content: "#";
}

/*makes footer text bold and gray and positions it*/
.image-footer{
  font-weight: bold;
  color: grey;
  display: inline-block;
  margin: 0px 10px;
  width: 100%;
  position: relative;
  top: -10px;
}

/*makes caption links not underlined and black*/
.image-caption a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/*positions image captains*/
.image-caption{
  display: inline;
  float: right;
}

/*positions the author photos and takes away bullet points from the list*/
.image-caption li{
  list-style-type: none;
  display: inline;
}

/*positions and colors the image number*/
.image-number{
  color:lightgrey;
  float: left;
}

/*positions row of author pictures*/
.image-caption ul {
  display: inline;
  padding:0;
}

/*positions image caption*/
.image-caption span, a {
  position: relative;
  top: -10px;
}

/*creates and positions arrow*/
.arrow{
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid lightgray;
  position: relative;
  float: right;
  top: -15px;
  margin-right:1px;
}
